<!DOCTYPE html>
<html>
<head>
  <title>Add User</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Add New User</h1>

<form action="/user" method="POST" class="card">
  <input type="text" name="id" placeholder="ID" required>
  <input type="text" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>

  <button>Add User</button>
</form>

<a href="/user">⬅ Back</a>

</body>
</html>
