<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Total Users: <%= countt %></h1>
  <a href="/user" class="btn">View Users</a>
</body>
</html>
